openapi: 3.0.0
info:
  title: Your Tasks API
  version: 1.0.0
  description: Register task apllication with authenticate.

servers:
  - url: /api

tags:
  - name: Auth
    description: Operations related to user authentication
  - name: Tasks
    description: Operations related to tasks

components: 
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Task:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
        description:
          type: string
        status:
          type: string
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time
    
    TaskInput:
      type: object
      required: [title, description, status]
      properties:
        title:
          type: string
        description:
          type: string
        status:
          type: string
    
    UserInput:
      type: object
      required: [name, email, password]
      properties:
        name:
          type: string
        email:
          type: string
        password:
          type: string
    
    LoginInput:
      type: object
      required: [email, password]
      properties:
        email:
          type: string
        password:
          type: string
    
    ValidateInput:
      type: object
      required: [email]
      properties:
        email:
          type: string

security:
  - bearerAuth: []

paths:
  /auth/login:
    post:
      tags:
        - Auth
      summary: Login
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginInput'
      responses:
        '200':
          description: Login successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
        '404':
          description: Invalid credentials

  /auth/register: 
    post:
      tags:
        - Auth
      summary: Register a new user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserInput'
      responses:
        '201':
          description: User created
        '400':
          description: Invalid input

  /auth/validate:
    post:
      tags:
        - Auth
      summary: Validate if a user exists by email
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ValidateInput'
      responses:
        '200':
          description: User exists
        '203':
          description: User does not exist

  /auth/logout:
    put:
      tags:
        - Auth
      summary: Logout user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Logout successful
        '404':
          description: Unauthorized

  /tasks:
    get:
      tags:
        - Tasks
      summary: Get all tasks for the authenticated user
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of tasks
          content:
            application/json:
              schema:
                type: object
                properties:
                  tasks:
                    type: array
                    items:
                      $ref: '#/components/schemas/Task'
        '401':
          description: Unauthorized
    
    post:
      tags:
        - Tasks
      summary: Create a new task
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskInput'
      responses:
        '201':
          description: Task created
        '401':
          description: Unauthorized

  /tasks/{id}:
    put:
      tags:
        - Tasks
      summary: Update a task by ID
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TaskInput'
      responses:
        '200':
          description: Task updated
        '400':
          description: Invalid data
        '401':
          description: Unauthorized
    
    delete:
      tags:
        - Tasks
      summary: Delete a task by ID
      security:
        - bearerAuth: []
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: integer
      responses:
        '200':
          description: Task deleted
        '401':
          description: Unauthorized